@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100vw;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100vw;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    height: 9vh;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    padding: 10px 20px;
    border-bottom: 1px solid #bfbfbf;
    position: fixed;
}

@media screen and (min-width:768px) {
    .navbar {
        flex-direction: row;
    }
}

.logo-container {
    padding-top:10px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.navbar h1 {
    font-family: Roboto;
    font-size: 22px;
    font-weight: 900;
    color: #322929;
}

.navbar h1::first-letter {
    color: #ed5252;
    border-radius: 50%;
    font-weight: bold;
}

#toggle {
    display: inline;
        border: none;
    background: transparent;
    cursor: pointer;
}

@media screen and (min-width:768px) {
    #toggle {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .list-elements {
        list-style: none;
        position: absolute;
        top: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
    }
}

.display {
    display: none;
}

@media screen and (min-width:768px) {
    .list-elements {
        list-style: none;
        padding: 0;
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;


    }
}

.navbar ul li a:hover {
    color: #a78969f5;
}

.nabvar ul li {
    cursor: pointer;
}

.navbar ul li a {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    transition: .5s;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;

}

@media screen and (min-width:768px) {
    #home {
        width: 80%;
        margin: auto;
    }

    .home-container {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
}

.image-container {
    width: 100%;
    max-width: 360px;
}

@media screen and (max-width:768px) {
    .image-container {
        order: -1;
    }
}

.image-container img {
    height: 250px;
    width: 250px;
    border-radius: 10px;

}

@media screen and (min-width:768px) {
    .image-container img {
        height: 360px;
        width: 360px;

    }
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

@media screen and (min-width:768px) {
    .content-container {
        align-items: flex-start;
    }
}

.content-container p {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 800;
    color: #7689e0;
}

.content-container h1 {
    font-family: Roboto;
    font-size: 45px;
    font-weight: 900;
    color: #000;

}

.content-container h3 {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 800;
    color: #000;

}

.content-container h3::after {
    content: 'Web Developer';
    color: #7689e0;
}

@media screen and (max-width:768px) {
    .content-container {
        margin-top: 25px;
        gap: 4px;
    }

    .content-container p {
        font-size: 20px;
    }

    .content-container h1 {
        font-size: 34px;
    }

    .content-container h3 {
        font-size: 24px;
    }
}

.content-container button {
    margin-top: 20px;
    height: 32px;
    border: 1px solid #570b64;
    border-radius: 5px;
    color: #000;
    padding: 6px 14px;
    font-family: Roboto;
    font-size: 12px;
    color: #570b64;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: .5s;

}

.content-container button:hover {
    color: #fff;
    background-color: #570b64;
}

#aboutMe {
    min-height: 90vh;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-bottom: 20px;
}

.aboutMe-image {
    display: none;
}

@media screen and (min-width:768px) {
    #aboutMe {
        padding-top: 50px;
        flex-direction: row;
    }

    .aboutMe-image {
        display: inline;
        width: 50%;
    }
}

.aboutMe-image img {
    width: 100%;
}

.about-me-container {
    margin-top: 30px;
    width: 100%;
    text-align: justify;

}

.about-me-container h1 {
    font-family: Roboto;
    font-size: 50px;
    color: #000;
    font-weight: bold;
}

.about-me-container p {
    margin-top: 20px;
    font-family: Roboto;
    font-size: 20px;
    color: #4a4444;
    font-weight: 500;

}

.about-me-container button {
    padding: 10px 20px;
    margin-top: 30px;
    border: none;
    border-radius: 3px;
    background-color: rgb(92, 114, 210);
    color: #fff;
    cursor: pointer;
    outline: none;
}

@media screen and (min-width:768px) {
    .about-me-container {
        align-self: flex-start;
        width: 50%;
    }

}

#projects {
    margin-top: 40px;
    width: 100%;
    padding-top: 30px;
}

@media screen and (min-width:768px) {
    #projects {
        width: 100%;

        margin: auto;

    }
}

#projects h1 {
    padding-top: 35px;
    margin-bottom: 25px;
    text-align: center;
    font-family: Roboto;
    font-size: 50px;
    color: #000;
    font-weight: bold;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.projects-container img {
    position: relative;
    width: 350px;
    transition: 1s;
    cursor: pointer;
    margin: 5px;


}

.projects-container img:hover {
    opacity: .5;
    color: red;
}

#services {
    margin-top: 40px;
    width: 100%;

    margin-bottom: 0;

    padding: 0 20px;

}

#services>h1 {
    padding-top: 35px;
    margin-bottom: 25px;
    text-align: center;
    font-family: Roboto;
    font-size: 50px;
    color: #000;
    font-weight: bold;
    transition: all .5s;
}

.all-services-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.services-container {
    width: 300px;
    text-align: center;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    padding: 40px;
    transition: .5s;
}

@media screen and (min-width:768px) {
    .all-services-container {
        flex-direction: row;
        margin: auto;
    }

    .services-container {
        flex: 1 0;
        margin: auto;
    }
}

.services-container img {
    width: 60px;
    height: 60px;
}

.services-container h1 {
    margin-top: 20px;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    color: #000;
    font-weight: bold;

}

.services-container p {
    margin-top: 20px;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    color: #000;
    text-align: justify;

}

.services-container:hover {
    background-color: #9ba6db;
}

.services-container:hover h1 {
    color: #fff;
}

@media screen and (max-width:768px) {
    #skills {
        height: auto;
        width: 100%;
        margin-top: 0;
        margin-bottom: 60px;
    }
}

#skills {
    margin-top: 40px;
    padding-top: 30px;
    width: 100%;
    margin-bottom: 50px;

    padding-bottom: 0;
}

#skills h1 {
    padding-top: 10px;
    margin: 40px 40px;
    text-align: center;
    font-family: Roboto;
    font-size: 50px;
    color: #000;
    font-weight: bold;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    flex-wrap: wrap;
}

.skills-container img {
    width: 220px;
    margin: auto;

}

#testimonial {

    width: 60%;
    margin: 30px auto;
    padding-top: 30px;
}

@media screen and (max-width:768px) {
    #testimonial {
        margin-top: 40px;
        width: 100%;
    }
}

#testimonial>h1 {
    margin: 40px 40px;
    text-align: center;
    font-family: Roboto;
    font-size: 50px;
    color: #000;
    font-weight: bold;
    transition: all .5s;
}

.button-container {
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button-container button {
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.button-container button img {
    width: 100%;
}

.testimonial-card {
    text-align: center;
}

.testimonial-image {
    margin: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.testimonial-name {
    margin: 10px;

    text-align: center;
    font-family: Roboto;
    font-size: 25px;
    color: #000;
    font-weight: bold;
    transition: all .5s;
}

.testimonial-description {
    text-align: center;
    margin: 10px;
    font-family: Roboto;
    font-size: 16px;
    color: #7f7878;

    transition: all .5s;
}

.testimonial-company {
    margin: 10px;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    color: #6b4949;

    transition: all .5s;
}

#contact {
    width: 100%;
    padding: 10px;

}

@media screen and (min-width:768px) {
    #contact {
        width: 80%;
        padding: 20px;
        margin: auto;
    }
}

#contact h1 {
    margin: 40px 40px;
    text-align: center;
    font-family: Roboto;
    font-size: 50px;
    color: #000;
    font-weight: bold;


}

#contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#contact form input,
textarea {
    width: 100%;
    outline: none;
    height: 40px;
    border: 1px solid #bfbffb;
    color: #4a4444;
    border-radius: 4px;
    padding: 10px 20px;
    font-family: Roboto;
}

textarea {
    height: 150px;
}

#contact form button {
    padding: 10px 20px;
    margin-top: 30px;
    border: none;
    border-radius: 3px;
    background-color: rgb(92, 114, 210);
    color: #fff;
    cursor: pointer;
    outline: none;
}

footer {
    width: 100%;
    text-align: center;
    height: 10vh;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {

    font-family: Roboto;
    font-size: 14px;
}